// TODO we should use "brand colours" for the footer
.site-footer {
	border-top: 1px solid $border-color-dark-2;

    .wrap {
        padding-bottom: $vertical-rhythm-0;
        padding-top: $vertical-rhythm-0;
    }

    .widget-area {
        padding-bottom: $vertical-rhythm-0;
        padding-top: $vertical-rhythm-0;
    }
}

.social-navigation {
    @include fluid-font-size($font-size-medium);
	margin-bottom: $vertical-rhythm-0;

    ul {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
    }

    li {
        display: inline;
    }

    a {
        background-color: $color-base-fg-alt;
        -webkit-border-radius: 40px;
        border-radius: 40px;
        color: $color-base-bg;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 1em 0.5em 0; // TODO review
        text-align: center;

        &:hover,
        &:focus {
            background-color: $color-base-link-alt; // TODO review
        }
    }

    .icon { // TODO review
        width: 16px;
        height: 16px;
        top: 12px;
        vertical-align: top;
    }
}

.site-info {
	font-size: $font-size-small;
	margin-bottom: 1em;

    // No need to define links here, especially if they follow the
    // general styling norms.  TODO move to _links.scss and/or
    // delete/adapt accordingly.
    a {
        color: $color-extra-link;

        &:hover,
        &:focus {
            color: $color-extra-link-alt;
        }
    }

    // TODO remove these in the html/templates, then here
    .sep {
        margin: 0;
        display: block;
        visibility: hidden;
        height: 0;
        width: 100%;
    }

    span[role=separator] {
        padding: 0 0.2em 0 0.4em;
    }

    span[role=separator]::before {
        content: '\002f';
    }
}
