a {
	color: $color-base-link;
	text-decoration: none;

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        color: $color-base-link-alt;
        outline: 0;
		text-decoration: underline;
    }

	p & {
		text-decoration: underline;
	}
}

.entry-title a {
	color: $color-extra-link;
}

.entry-meta a {
	color: $color-base-fg-alt;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: $color-extra-link;
}

