// TODO document colours
// fg: #000, #222, #333, #666, #767676, #21759b (accessibility)
// bg: #fff, #fafafa, #f1f1f1, #eee, #ddd
// border: #333, #666, #bbb, #0085ba (customizer), rgba(255, 255, 255, 0.6) (header)
//
// TODO document white space NOTE it is a mess. Will add new ones.
// TODO document font sizes
// TODO document other patterns


// TODO consolidate colours
// TODO consolidate white space
// TODO consolidare font scale

// TODO convert all `historiador` classes to generic or `historiador`


// _variables.scss
// ===============
//
// XXX NOTE XXX how variables are named.
//
// If it is meant to be used directly in CSS as a property's value, it is as follows:
// [CSS PROPERTY]-[SCOPE]-[NAME]
// Examples
// color: $color-brand-link
// font-family: $font-family-heading
//
// Whereas if the variable is only for internal purposes, it uses the following:
// [TYPE]-[NAME]-[SCOPE]
// Examples
// $font-stack-serif
// $viewport-size-tablet
//
// XXX NOTE XXX Exception to the above are white spacing measures
// These can be used for padding, margin ...
// Default to the following convention
// [DESCRIPTION]-[SCALE INCREMENT]
// Examples
// $white-space-0: 0.5rem
// $white-space-1: 1rem
//
// XXX NOTE XXX In defining scales, stick with increments rather than literal names.
// DO NOT USE, $white-space-half, $white-space-one.
// It is not good for ad hoc measures.
// In such cases (which should be avoided), use multiplication or division.
// Instead of defining, say, $white-space-one-tenth, do $white-space-1 * 0.1

// Colours
// =======

// Palette
// -------
// Naming convention follows UNIX terminal colours
// colours 0-7 are: black, red, green, yellow, blue, magenta, cyan. white
// colours 8-15 are their corresponding bright variants
//
// Base values are bgs: col15, col7 // fgs: col0, col8. Others are accents
// col0 is base fg, col15 is base bg; col8 and col7 are their alternatives
// All base values are WCAG AAA compliant (>= 7.79:1)
//
// All accent values are WCAG AAA compliant against col15 (8.25:1)
// All accent values are WCAG AAA compliant against col7 (7.00:1)
//
// All bright accents are WCAG AAA compliant for large sizes against col15 (5.50:1)
// All bright accents are WCAG AAA compliant for large sizes against col7 (4.70:1)
//
// Link colours for body text must have minimum contrast 3:1 against fgs
// All bright accents qualify
//
// Any accent is suitable for big text links (except body) or block highlights
$color-palette-0: #1a1a1a; // black variant
$color-palette-1: #a20000; // red variant
$color-palette-2: #065c08; // green variant
$color-palette-3: #6c4700; // yellow variant
$color-palette-4: #0044bb; // blue variant
$color-palette-5: #960c67; // magenta variant
$color-palette-6: #005479; // cyan variant
$color-palette-7: #e7eef7; // white variant
$color-palette-8: #3c476b; // bright black variant
$color-palette-9: #cc2222; // bright red variant
$color-palette-10: #3d7628; // bright green variant
$color-palette-11: #995a00; // bright yellow variant
$color-palette-12: #2d63d0; // bright blue variant
$color-palette-13: #b03890; // bright magenta variant
$color-palette-14: #007196; // bright cyan variant
$color-palette-15: #ffffff; // bright white variant

// Base colours
// ------------
$color-base-bg: $color-palette-15;
$color-base-bg-alt: $color-palette-7;
$color-base-fg: $color-palette-0;
$color-base-fg-alt: $color-palette-8;
// TODO base link for body as col4 is not 3:1 against col0
$color-base-link: $color-palette-4;
$color-base-link-alt: $color-palette-5;

// TODO get colours from LIVRE(?)
// // Brand colours
// // -------------
// $color-brand-bg: #;
// $color-brand-fg: #;
// $color-brand-link: #;
// $color-brand-link-alt: #;

// Fonts
// =====

// Font stacks
// -----------
// See `webfonts.css` for custom web fonts
// See `gulpfile.js` gulp task `webfonts` for building said style sheet
// The font files are locates under assets/fonts
// Use this website to get fonts from the google fonts repos:
// https://google-webfonts-helper.herokuapp.com/
// The webfonts used are Roboto (300, 400, 400i, 700, 700i)
$font-stack-serif: 'Times New Roman', Times, serif;
$font-stack-sans: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font-stack-mono: Consolas, Monaco, monospace;

$font-family-body: $font-stack-sans;
$font-family-heading: $font-stack-sans;
$font-family-title: $font-stack-sans;
$font-family-code: $font-stack-mono;

// Font scale
// ----------
// We use a font scale to achieve a vertical rhythm
// The text is our measure for the entire site layout

// these are the operations that derive the scale
// n * x
// n / x
// where `n` is the incremented/decremented base value
// where `x` is the ratio
//
// some common ratios, followed by their conventional name:
// 1.067 minor second
// 1.125 major second
// 1.2 minor third
// 1.25 major third
// see http://www.modularscale.com
//
// Using major second
// Good proportions
// No major discrepencies at scale

// Font sizes
// ----------
$font-size-medium: 1rem;
$font-size-small: 0.889rem;
$font-size-xsmall: 0.79rem;
$font-size-xxsmall: 0.703rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.266rem;
$font-size-xxlarge: 1.424rem;
$font-size-xxxlarge: 1.602rem;

// Spacing and measures
// ====================

// Typographic spacing
// -------------------
$font-size-base: 16px;
$line-height-body: 1.424;
$line-height-heading: 1.125;

// White space
// -----------
$space-0: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

$vertical-rhythm-0: #{$line-height-body / 2}rem;
$vertical-rhythm-1: #{$line-height-body}rem;
$vertical-rhythm-2: #{$line-height-body * 1.5}rem;
$vertical-rhythm-3: #{$line-height-body * 2.5}rem;
$vertical-rhythm-4: #{$line-height-body * 3.5}rem;

// Page measure
// ------------
$viewport-measure: 36rem;
$viewport-measure-xl: $viewport-measure + 6;

// Viewports
// ---------
// TODO review based on styles from Historiador
$viewport-size-tablet: 44.375em;
$viewport-size-desktop: 75em;

// Dividers
// ========
$border-width-thin: 1px;
$border-width-medium: 3px;
$border-width-thick: 5px;
// NOTE Minimum contrast of WCAG AAA against col15 and brand-bg
// TODO Review based on actual colours
$border-color-dark-0: #111;
$border-color-dark-1: #333;
$border-color-dark-2: #555;
$border-color-light-0: #eee;
$border-color-light-1: #cecece;
$border-color-light-2: #bababa;
// $border-color-highlight: $notifyinfo;
// $border-color-highlight-alt: $notifycrit;


// Mixins
// ------

// TODO review this based on styles from Historiador
@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// TODO review this based on styles from Historiador
@mixin radius($degree) {
    border-radius: $degree;
}

// TODO review this based on styles from Historiador
@mixin transition {
    transition: all ease-in-out 300ms;
}

@mixin tablet {
    @media screen and (min-width: #{$viewport-size-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$viewport-size-desktop}) {
        @content;
    }
}

@mixin tablet-font-size($tablet-font-size) {
    font-size: $tablet-font-size + 0.02;
}

@mixin desktop-font-size($desktop-font-size) {
    font-size: $desktop-font-size + 0.04;
}

// NOTE Combines the above two and is the preferred option
@mixin fluid-font-size($fluid-font-size) {
    @include tablet {
        @include tablet-font-size($fluid-font-size);
    }

    @include desktop {
        @include desktop-font-size($fluid-font-size);
    }
    
    font-size: $fluid-font-size;
}

@mixin tablet-icon-size($tablet-icon-size) {
    width: $tablet-icon-size + 0.02;
    height: $tablet-icon-size + 0.02;
}

@mixin desktop-icon-size($desktop-icon-size) {
    width: $desktop-icon-size + 0.04;
    height: $desktop-icon-size + 0.04;
}

// NOTE Combines the above two and is the preferred option
@mixin fluid-icon-size($fluid-icon-size) {
    @include tablet {
        @include tablet-icon-size($fluid-icon-size);
    }

    @include desktop {
        @include desktop-icon-size($fluid-icon-size);
    }

    width: $fluid-icon-size;
    height: $fluid-icon-size;
}

@mixin fluid-width-measure {
    @include tablet {
        max-width: $measure;
    }

    @include desktop {
        max-width: $measure-xl;
    }
    max-width: 100%;
}

// Global placeholders
// Placeholders are normally defined within the stylesheet => DRY
// -----------------------------------------------------------------------------
%clearfix {
    &::before {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
    }
}
